<div *ngFor="let author of authors">
    <h1>
        Заголовок
    </h1>
    <div>
        <i>
            ... Мы с нетерпением ждали, когда к нам в сад опять прилетят старые знакомые — скворцы, эти милые, веселые, общительные птицы, первые перелетные гости, радостные вестники весны. Итак, мы дождались скворцов. Подправили старые скворечники, покривившиеся от зимних ветров, подвесили новые.
        </i>
    </div>
    <h2>
        Имя: {{author.name}}
    </h2>
    <h2>
        Фамилия: {{author.surname}}
    </h2>
    <h2>
        Дата публикации: {{author.date}}
    </h2>
</div>